body, html {
    margin: 0;
    padding: 0;
}

.iframe-wrapper {
    width: 100%;
    height: 100vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

[class^=Watermark] {
    display: none!important;
}

[data-tooltip="Table"] {
    display: none!important;
}